.BOS {
    font-family: Arial, Helvetica, sans-serif;
}

    .BOS .head {
        color: yellow;
        text-align: center;
        background-color: #404040;
    }

    .BOS .columnhead {
        color: lightblue;
        text-align: center;
    }

    .BOS .divider {
        border-width: 0;
        background-color: #FFFFFF;
    }

    .BOS .flights tr:nth-child(even) {
        background-color: darkslateblue;
    }

    .BOS .flights tr:nth-child(odd) {
        background-color: black;
    }

    .BOS .flights {
        border: 6px lightblue solid
    }

    .BOS .flight {
        color: white;
        background-color: #333333;
    }

        .BOS .flight .time, .terminal {
            text-align: center;
        }

        .BOS .flight .airline {
            color: yellow;
        }

        .BOS .flight .departed {
            color: green;
        }

        .BOS .flight .cancelled {
            color: red;
        }

        .BOS .flight .final {
            background-color: fuchsia
        }

        .BOS .flight .boarding {
            background-color: green
        }

    .BOS .foot {
        background-color: #72ACF6;
        text-align: left;
        color: white;
    }
